@charset "utf-8";
/* CSS Document */
body, ul, ol, dl, li, dd, h1, h2, h3, h4, h5, h6, p, input { margin: 0 }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; font-family: "Microsoft YaHei"; }
img { border: none }
input, button, textarea, select {
*font-size: 100%; border: none; }
body { background: #fff; color: #5e5e5e; font: 12px/24px Microsoft YaHei, SimSun, Arial; }
ul, ol { list-style: none; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }/*默认a标签样式*/
a:link, a:visited { color: #5e5e5e; text-decoration: none; }
a:hover { /*color:#999;*/ }
a:hover { color: #c9394a; /*text-decoration: underline;*/ }
a:active { color: #666; }/*浮动和清除浮动*/
.fl { float: left }
.fr { float: right }
.clear { zoom: 1 }
.clear:after { content: ""; display: block; height: 0; visibility: visible; clear: both } /*显示隐藏*/
.hide { display: none }
.show { display: block }/*表格table和td有边框*/
.boder_tl { border-top: 1px solid #ccc; border-left: 1px solid #ccc; }
.boder_tl td { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_bl { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; }
.boder_bl td { border-top: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_tr { border-top: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_tr td { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; }
.boder_br { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_br td { border-top: 1px solid #ccc; border-left: 1px solid #ccc; }
.txt_center { text-align: center; }/*表格table和tr有边框*/
.boder_ltr_trborder { border: 1px solid #ccc; border-bottom: none; }
.boder_ltr_trborder tr { border-bottom: 1px solid #ccc; }
.w { width:  1200px; margin: 0 auto; overflow: hidden;}
.header { height: 50px; padding-top: 10px ; }
.mt10 { margin-top: 10px; }
.mt20 { margin-top: 20px; }
.confirm,.calendar,.off_off{cursor: pointer;}



.markall {
	position:absolute; top:0; left:0;
	width:100%; height:100%;
	z-index:99997;
	background:url(../images/one_a.png) repeat;
}
.pop{position:fixed; z-index:99999; top:50%; left:50%; }

.box_one{
	width:498px;padding-top:10px;
	margin:0 auto;height:329px;
	z-index:99998;
	/* background:url(../images_new/one_b.png) repeat; */
}
.none{display:none;}
.message-w{
    background: #fff;
}
.message_me-con{
    text-align: center;
    background: rgb(240,240,240);
}
.message_me {
    background: #fff;
    width: 440px;
    padding-top: 0px;
    margin: 0 auto;
    height: 420px;
    background: rgb(240,240,240);
}
.w-rule-title {
    height: 40px;
    background: rgb(78,143,207);
    color: #fff;
    line-height: 40px;
    padding: 0 20px;
    font-size: 14px;
}
.modal-footer a {
    display: inline-block;
    font-size: 12px;
    padding: 4px;
    width: 110px;
    border-radius: 0;
    margin-right: 10px;
    color: #fff;
    background: rgb(78,143,207);
    border-color: #ccc;
    border: 1px solid #ebebeb;
    position: relative;
    top: -26px;
}
.modal-footer {
    text-align: center;
}